/*------------------------------------*\
    #GENERIC.PAGE
\*------------------------------------*/

html {
  box-sizing             : border-box;
  -webkit-font-smoothing : antialiased;
  height                 : 100%;

}

body {
  color            : $black;
  background-color : $white;
}






