/*------------------------------------*\
    #SETTINGS.GLOBAL
\*------------------------------------*/

/*------------------------------------*\
    #COLOURS
\*------------------------------------*/
$brand : #59ADDF;
$black : #333333;
$white : #FFFFFF;

/*------------------------------------*\
    #FONTS
\*------------------------------------*/
$headingFont : Helvetica, Arial;
$bodyFont : Helvetica, Arial;
