/*------------------------------------*\
    #SETTINGS.GLOBAL
\*------------------------------------*/

// Colours
$primary : #c0392b;
$secondary : #2c3e50;
$tertiary: #2980b9;
$white : #FFFFFF;

// Fonts
$bodyFont : 'Lato', Calibri, Arial, sans-serif;

