/*------------------------------------*\
    #SETTINGS.GLOBAL
\*------------------------------------*/

/*------------------------------------*\
    #COLOURS
\*------------------------------------*/
$blue : #004fa3;
$red : #f00303;
$black : #333333;
$white : #FFFFFF;

/*------------------------------------*\
    #FONTS
\*------------------------------------*/
$bodyFont : 'Roboto', sans-serif;
