/*------------------------------------*\
    #SETTINGS.GLOBAL
\*------------------------------------*/

// Colours
$primary : #c0392b;
$secondary : #2c3e50;
$tertiary: #2980b9;
$white : #FFFFFF;

// Fonts
$bodyFont : 'Lato', Calibri, Arial, sans-serif;
$headingFont : 'Lato', Calibri, Arial, sans-serif;

$bodyColour: #333;

// Fonts
$bodyFont : 'Museo Sans', Calibri, Arial, sans-serif;
$headingFont : 'Museo Sans', Calibri, Arial, sans-serif;

// layout
$customContainer: 1500px;
