/*------------------------------------*\
    #COMPONENTS.FOOTER
\*------------------------------------*/
.footer {
  padding :60px 0 30px;
  background: #34495e;
  @include clearfix();
}

.footer__btt,
.footer__swordfox i,
.footer__swordfox .text,
.footer__swordfox a,
.footer__content{
  color: white;
}

.footer__content {
  float : left;
  max-width: 500px;
  margin-bottom: 45px;
}

.footer__btt {
  float        : right;
  transition   : color 0.3s ease;
  line-height  : 40px;
  margin-right : 3px;
  i {
    position    : relative;
    top         : 4px;
    font-size   : 20px;
    margin-left : 5px;
  }
  &:hover {
    color : white;
  }
}

.footer__bottom{
  border-top: 1px solid lighten(#34495e, 20%);
  text-align : center;
  padding-top: 45px;
}

.footer__swordfox {
  transition : color 0.3s ease;
  .text {
    font-size: 14px;
    text-transform: uppercase;
  }
  &:hover {
    color : $secondary;
  }
  i {
    position       : relative;
    top            : -5px;
    font-size      : 40px;
    vertical-align : middle;
    @media screen and (max-width : 600px) {
      width : 40px;
    }
  }
}
