/*------------------------------------*\
    #COMPONENTS.slider
\*------------------------------------*/

.slider {
  position   : relative;
  background : #000;
}

.slider__items,
.slider__items .focuspoint {
  position : relative;
  height   : 800px;
  height   : calc(100vh - 10px);
  @include iosHeights(800);
}

.slider__content {
  position   : absolute;
  text-align : center;
  width      : 100%;
  top        : 50%;
  z-index    : 5;
  transform  : translateY(-50%);
  h1 {
    color     : white;
    font-size : 10vw;
    @media screen and (min-width : $screen-xs) {
      font-size : 4.6vw;
    }
  }
}

.slider__arrow {
  position       : absolute;
  bottom         : 0;
  width          : 100%;
  text-align     : center;
  padding-bottom : 10px;
  .icon-downarrow {
    color     : white;
    font-size : 30px;
    font-weight: 600;
  }
}