/*------------------------------------*\
    #GENERIC.DEFAULT
\*------------------------------------*/

html {
  box-sizing             : border-box;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  height                 : 100%;

}

body {
  font-family : $bodyFont;
  margin: 0;
  font-size   : 15px;
  line-height : 1.5;
  background  : white;
  font-weight : 300;
  color       : $bodyColour;
  overflow    : scroll;
  overflow-x  : hidden;
}

fieldset{
  border: none;
  padding : 0;
  margin : 0;
}
