/*------------------------------------*\
    #ELEMENTS.FORMS
\*------------------------------------*/

.form-control {
  font-size     : 27px;
  font-family   : 'Langdon', sns-serif;
  text-transform: uppercase;
  padding-left  : 10px;
  color         : $red;
  border-radius : 0;
  height        : 50px;
  border        : none;
  background    : $white;
  box-shadow: none;
  @include placeholder($red);
  &:focus{
    border: none;
    box-shadow: none;
  }
}

.form-group label {
  display: none;
}

.CompositeField {
  // set to zero to remove white space
  font-size : 0;
  .form-group {
    @media screen and (min-width : $screen-sm) {
      display : inline-block;
      width   : 48%;
      &:first-child {
        margin-right : 4%;
      }
    }

  }
}