/*------------------------------------*\
    #GENERIC.PAGE
\*------------------------------------*/

html {
  box-sizing             : border-box;
  -webkit-font-smoothing : antialiased;
  height                 : 100%;

}

body {
  font-family      : $bodyFont;
  font-size        : 15px;
  line-height      : 1.5;
  color            : $black;
  background-color : $white;
}






