/*------------------------------------*\
    #COMPONENTS.BUTTONS
\*------------------------------------*/

%btn {
  display          : inline-block;
  font-size        : 16px;
  margin-bottom    : 0;
  margin-right     : 0.3em;
  font-weight      : normal;
  text-align       : center;
  vertical-align   : middle;
  touch-action     : manipulation;
  cursor           : pointer;
  background-image : none; // Reset unusual Firefox-on-Android default style
  border           : none;
  white-space      : nowrap;
  letter-spacing   : 1px;
  text-transform   : uppercase;
  transition       : 0.3s background-color ease, 0.3s color ease, 0.3s border ease;
  padding          : 14px 50px;
  line-height      : 1.4;
  border-radius    : 0;
}

.c-btn--default {
  @extend %btn;
  background-color : #aaaaaa;
  color            : #333;
  &:hover {
    background-color : #666666;
    color            : $white;
  }
}

.c-btn--primary {
  @extend %btn;
  background-color : $primary;
  color            : $white;
  &:hover {
    background-color : darken($primary, 10%);
    color            : $white;
  }
}

.c-btn--secondary {
  @extend %btn;
  background-color : $secondary;
  color            : $white;
  &:hover {
    background-color : darken($secondary, 10%);
    color            : $white;
  }
}

// Button Sizes
// --------------------------------------------------

.c-btn--lg {
  font-size : 18px;
  padding   : 15px 60px;
}

.c-btn--sm {
  padding   : 8px 30px;
  font-size : 14px;
}

// Block button
// --------------------------------------------------

.c-btn--block {
  display : block;
  width   : 100%;
}

// Vertically space out multiple block buttons
.c-btn--block + .c-btn--block {
  margin-top : 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width : 100%;
  }
}

// Remove blue box around buttons
.c-btn:focus, button:focus {
  outline : none !important;
}