// Calendar


.c-calendar--responsive{
  overflow: scroll;
}

.c-calendar{
  min-width: 900px;
  font-size: 0;
}


.c-day{
  display: inline-block;
  vertical-align: top;
  width : 1 / 7 * 100%;
  padding : 5px;
  .inner{
    padding : 15px;
    background: lightgrey;
    height : 120px;
    transition: background 0.5s ease;
    &:hover{
      background: lightblue;
      cursor: pointer;
    }
  }
  .day{
    font-size: 10px;
  }
  .name{
    font-size: 10px;
  }
}