/*------------------------------------*\
    #COMPONENTS.HEADER
\*------------------------------------*/

.header {
  position   : absolute;
  padding :15px 0;
  top        : 0;
  background : transparent;
  z-index: 10;
  width: 100%;
  &.active {
    .nav {
      display : block;
    }
    .icon-menu {
      display : none;
    }
    .icon-cross {
      display : block;
    }
  }
}

.header__brand {
  display : inline-block;
  float   : left;
  img {
    max-height : 100%;
    @include responsive('height', 40px, 50px);
  }
}

.header__menu {
  float       : right;
  padding-top : 15px;
  .icon-menu {
    display   : block;
    font-size : 32px;
    color     : #333;
    &:hover {
      color  : #666;
      cursor : pointer;
    }
  }
  .icon-cross {
    display   : none;
    z-index   : 90;
    position  : relative;
    top       : -10px;
    left      : 7px;
    font-size : 56px;
    color     : white;
    &:hover {
      cursor : pointer;
    }
  }
}

/*------------------------------------*\
    #COMPONENTS.NAV
\*------------------------------------*/
.nav {
  position    : absolute;
  display     : none;
  user-select : none;
  top         : 0;
  right       : -15px;
  padding     : 100px 30px 50px 50px;
  min-height  : 100vh;
  text-align  : right;
  background  : rgba(10, 10, 10, 0.95);
  z-index     : 50;
  @media screen and (min-width : $screen-sm) {
    right   : -1000px;
    padding : 100px 1000px 50px 50px;
  }
}

.nav__list {
  margin-top : 1.5em;
}

.nav__item {
  padding-left : 100px;
  transition   : background 0.3s ease;
  &:hover {
    background : rgba(60, 60, 60, 0.9);
  }
}

.nav__link {
  display     : block;
  padding     : 5px;
  color       : white;
  background  : none;
  font-size   : 24px;
  font-weight : 600;
  transition  : color 0.3s ease;
  &:hover {
    color : white;
  }
  &:focus {
    color : white;
  }
}

.nav__footer {
  position   : relative;
  margin-top : 4em;
  padding    : 2em 0 3em 0;
  border-top : 1px solid white;
}

.nav__socials {
  position : absolute;
  left     : 10px;
  top      : 2.6em;
  i {
    font-size  : 24px;
    transition : color 0.3s ease;
    &:hover {
      color : $primary;
    }
  }
}

.nav__contact {
  a {
    color      : white;
    transition : color 0.3s ease;
    &:hover {
      color : $primary;
    }
  }
}