/*------------------------------------*\
    #TRUMPS.UTILITIES
\*------------------------------------*/

// BACKGROUND
.bg-primary {
  background-color : $primary !important;
}

.bg-secondary {
  background-color : $secondary !important;
}

// TEXT COLOURS
.text-primary {
  color : $primary !important;
}

.text-secondary {
  color : $secondary !important;
}

.text-black {
  color : #000000 !important;
}

.text-white {
  color : $white !important;
}
