/*------------------------------------*\
    #.TRUMPS.Utilities
\*------------------------------------*/

// Layout
.full-height {
  height : 100% !important;
}

.full-width {
  width : 100% !important;
}

// Background
.background--blue {
  background-color : $blue !important;
}

// Text colours
.text-blue {
  color : $blue;
}

.text-red {
  color : $red;
}

.text-white {
  color : $white;
}

// Typography
.text-left {
  text-align : left;
}

.text-right {
  text-align : right;
}

.text-center {
  text-align : center;
}

.text-justify {
  text-align : justify;
}

.text-nowrap {
  white-space : nowrap;
}

.text-lowercase {
  text-transform : lowercase;
}

.text-uppercase {
  text-transform : uppercase;
}

.text-capitalize {
  text-transform : capitalize;
}

// List options
// uses bootstrap mixins

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left : 0;
  list-style   : none;
}

// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left : -5px;

  > li {
    display       : inline-block;
    padding-left  : 5px;
    padding-right : 5px;
  }
}
