/*------------------------------------*\
    #TRUMPS.UTILITIES
\*------------------------------------*/


// Background
// -----------------
.t-bg-primary {
  background-color : $primary!important;
}

.t-bg-secondary {
  background-color : $secondary !important;
}


// Text colours
.t-text-primary {
  color : $primary !important;
}

.t-text-secondary {
  color : $secondary!important;
}

.t-text-black {
  color : #000000 !important;
}
.t-text-white {
  color : $white !important;
}

// Typography
.t-text-left {
  text-align : left;
}

.t-text-right {
  text-align : right;
}

.t-text-center {
  text-align : center;
}

.t-text-justify {
  text-align : justify;
}

.t-text-nowrap {
  white-space : nowrap;
}

.t-text-lowercase {
  text-transform : lowercase;
}

.t-text-uppercase {
  text-transform : uppercase;
}

.t-text-capitalize {
  text-transform : capitalize;
}