/*------------------------------------*\
    #.TRUMPS.Utilities
\*------------------------------------*/


// Layout
// -----------------
.u-container{
  max-width: 800px;
  margin :0 auto;
}
.u-full-height {
  height : 100% !important;
}

.u-full-width {
  width : 100% !important;
}


// Padding
// -----------------
.u-pt--sm {
  padding-top:  4%;
}
.u-pt--md {
  padding-top:  6%;
}
.u-pt--lg {
  padding-top:  8%;
}
.u-pb--sm {
  padding-bottom:  4%;
}
.u-pb--md {
  padding-bottom:  6%;
}
.u-pb--lg {
  padding-bottom:  8%;
}



// Background
// -----------------
.u-bg--red {
  background-color : $red !important;
}

.u-bg--blue {
  background-color : $blue !important;
}


// Text colours
.u-text--blue {
  color : $blue !important;
}

.u-text--red {
  color : $red !important;
}

.u-text--yellow {
  color : $yellow !important;
}

.u-text--white {
  color : $white !important;
}

// Typography
.u-text--left {
  text-align : left;
}

.u-text--right {
  text-align : right;
}

.u-text--center {
  text-align : center;
}

.u-text--justify {
  text-align : justify;
}

.u-text--nowrap {
  white-space : nowrap;
}

.u-text--lowercase {
  text-transform : lowercase;
}

.u-text--uppercase {
  text-transform : uppercase;
}

.u-text--capitalize {
  text-transform : capitalize;
}


