/*------------------------------------*\
    #LAYOUT.GRID
\*------------------------------------*/
.container {
  position      : relative;
  max-width     : $container;
  margin        : 0 auto;
  padding-left  : $gutter-sm;
  padding-right : $gutter-sm;
  @media screen and (min-width : $screen-xs) {
    padding-left  : $gutter-lg;
    padding-right : $gutter-lg;
  }
}
