/*------------------------------------*\
    #LAYOUT.LAYOUT
\*------------------------------------*/
.l-container {
  max-width     : $customContainer;
  margin :0 auto;
  @media screen and (min-width: $screen-lg){
    padding :0 30px;
  }
}
